.App {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

body {
  font-family: 'VT323', monospace;
  text-align: center;
  background-color: #2b2b2b;
  font-style: normal;
  user-select: none;
}

h1 {
  font-size: 50px;
}

.title {
  width: 400px;
  color: #cccccc;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

header {
  margin: 30px;
}

footer {
  margin: 30px;
}