.row {
  display: flex;
  touch-action: none;
  margin: 25px;
  user-select: none;
}

td {
  width: 25px;
  height: 25px;
}

.empty {
  background-color: #2b2b2b;
}

.T {
  background-color: Magenta;
}

.I {
  background-color: cyan;
}

.O {
  background-color: yellow;
}

.S {
  background-color: lime;
}

.Z {
  background-color: red;
}

.J {
  background-color: blue;
}

.L {
  background-color: orange;
}
@media (hover: hover) {
  .button:hover {
    fill-opacity: 0.7;
    opacity: 0.7;
  }
}

.button {
  margin-bottom: 20px;
}

.restart-button {
  padding: 7px;
  background-color: #b7b7b7;
  border-radius: 3px;
  font-size: 25px;
}


.control-panel {
  padding-left: 20px;

}

:focus {
  outline: none
}

.board {
  border-color: #b7b7b7;
  border-style: solid;
  border-width: 3px;   
  /* background-color:  #575757; */
  border-radius: 2px; 
}