.row {
  display: flex;
  touch-action: none;
  /* width: 300px; */
  margin-right: center;
  margin-left: center;
  margin: auto;
  user-select: none;
  justify-content: center;
}

td {
  width: 26px;
  height: 26px;
  /* border-radius: 2px; */
}

.empty {
  background-color: #2b2b2b;
}

.T {
  background-color: Magenta;
}

.I {
  background-color: cyan;
}

.O {
  background-color: yellow;
}

.S {
  background-color: lime;
}

.Z {
  background-color: red;
}

.J {
  background-color: blue;
}

.L {
  background-color: orange;
}

.pause-button:hover {
  fill-opacity: 0.7;
}

.control-panel {
  margin: 10px;
  padding: 10px;
}

:focus {
  outline: none
}